* {
  box-sizing: border-box;
}

body {
  background-color: #e7ebf0;
  margin: 4%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  line-height: 1.6;
}

.stationContainer {
  margin-left: 25%;
  margin-right: 25%;
}

.dataList {
  padding: 1.5em;
}

.stationData {
  text-align: left;
}

.loading {
  padding: 2em;
  font-size: 1.3em;
}

.noresults {
  font-style: italic;
  padding-top: 1em;
  font-size: 0.9em;
}

.errormsg {
  padding: 2em;
  font-size: 1.2em;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.links a {
  padding: 12px;
  margin: 5px;
  border-radius: 0.2em;
  text-decoration: none;
  font-size: 1em;
  color: black;
  background-color: #fffffe;
}

.links a:hover {
  background-color: #e7ebf0;
  text-decoration: underline #5b80a8;
  text-underline-position: under;
}
